.navMenu {
	display: flex;
	justify-content: center;
	background-color: $blocksBgColor;
	box-shadow: $boxShadow;
	position: relative;

	.navMenuWrap {
		height: 70px;
		display: flex;
		align-items: center;
		box-sizing: border-box;

		.logoWrap {
			position: absolute;
			left: 2vw;

			.logo {
				height: 40px;
			}
		}

		a {
			color: $titlesColor;
			font: $navMenuTitle;
			opacity: 0.8;
			margin: 0 3vw;
		}
		.active,
		a:hover {
			color: $mainActiveElemtsAndTextColor;
			opacity: 1;
		}
		a:active {
			cursor: -webkit-grabbing;
		}
	}
}
