.welcomeWrap {
	padding: 5vh 10vw;

	.texWrap {
		min-height: 30vh;
		background-color: $blocksBgColor;
		box-shadow: $boxShadow;
		padding: 5vh 5vw 10vh 5vw;
		color: $titlesColor;

		h2 {
			text-align: center;
			font: $navMenuTitle;
		}

		p {
			font: $inputsFont;
    }
    
    a {
      text-decoration: none;
      color: $titlesColor;
    }

    button {
      color: $titlesColor;
    }
	}
}
