.settingsWrap {
	padding: 5vh 10vw;

	.editCategorysWrap {
		min-height: 30vh;
		background-color: $blocksBgColor;
		box-shadow: $boxShadow;
		padding: 5vh 5vw 10vh 5vw;

		.row {
			display: flex;
			justify-content: space-between;
			margin-bottom: 1vh;
			position: relative;

			.buttonWrap {
				display: flex;
				justify-content: center;
				position: absolute;
				right: 25vw;
				bottom: 0;

				.dellCategoryButton {
					height: 3rem;
					background-color: $closeDeclineCheck;
					font: $inputsFont;
					color: #fff;
					outline: none;
					border: none;
					border-radius: $bordersRadius;
					cursor: pointer;
					box-shadow: $boxShadow;
				}
			}
		}

		.newCategoryWrap {
			display: flex;

			.buttonWrap {
				display: flex;
				justify-content: center;
				position: absolute;
				right: 25vw;
				bottom: 0;

				.addCategoryButton {
					height: 3rem;
					background-color: $mainActiveElemtsAndTextColor;
					font: $inputsFont;
					color: #fff;
					outline: none;
					border: none;
					border-radius: $bordersRadius;
					cursor: pointer;
					box-shadow: $boxShadow;
				}

			}
		}
	}
}
