.controls {
  display: flex;
  justify-content: space-between;

  .addTransactionButton {
    padding: 0 7px;
    height: 3rem;
    background-color: $mainActiveElemtsAndTextColor;
    font: $inputsFont;
    color: #fff;
    outline: none;
    border: none;
    border-radius: $bordersRadius;
    cursor: pointer;
    box-shadow: $boxShadow;
  }

  .addTransactionButton:active {
    transform: scale(0.9);
    transition: 0.5s;
    cursor: -webkit-grabbing;
  }
}