.transaction {
	width: 70%;
	margin-top: 10vh;
	padding: 5vh 5vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	background-color: $blocksBgColor;
	border-radius: $bordersRadius;
	box-shadow: $boxShadow;

	.transactionForm {
		width: 100%;

		.row {
			display: flex;
			justify-content: space-between;
			margin-bottom: 1vh;
			position: relative;
		}

		.newCategoryWrap {
			display: flex;

			.addCategoryButton {
				height: 3rem;
				background-color: $mainActiveElemtsAndTextColor;
				font: $inputsFont;
				color: #fff;
				outline: none;
				border: none;
				border-radius: $bordersRadius;
				cursor: pointer;
				box-shadow: $boxShadow;
			}

			.addCategoryButton:active {
				transform: scale(0.9);
				transition: 0.5s;
				cursor: -webkit-grabbing;
			}
		}

		.buttonWrap {
			display: flex;
			justify-content: center;
			position: absolute;
			right: 0;
			bottom: 0;

			.addTransactionButton {
				height: 3rem;
				background-color: $mainActiveElemtsAndTextColor;
				font: $inputsFont;
				color: #fff;
				outline: none;
				border: none;
				border-radius: $bordersRadius;
				cursor: pointer;
				box-shadow: $boxShadow;
			}

			.addTransactionButton:active {
				transform: scale(0.9);
				transition: 0.5s;
				cursor: -webkit-grabbing;
			}
		}
	}

	.closeTransactionField {
		width: 25px;
		height: 25px;
		background-color: $closeDeclineCheck;
		color: #fff;
		position: absolute;
		right: -15px;
		top: -15px;
		border-radius: 50%;
		cursor: pointer;
		outline: none;
	}

	.closeTransactionField:active {
		transform: scale(0.8);
		transition: 0.5s;
		cursor: -webkit-grabbing;
	}
}
