.transactions {
	padding: 20vh 10vw;

	.transactionsList {
		margin: 5vh 0;
		padding: 0;
		list-style: none;
		background-color: $blocksBgColor;
		box-shadow: $boxShadow;

		.transaction {
			padding: 0 3vw;
			display: flex;
			justify-content: space-between;
			font: $inputsFont;
			line-height: 2rem;
			color: $titlesColor;

			.buttonsWrap {
				display: flex;
				align-items: center;

				.edit {
					width: 1.2rem;
					height: 1.2rem;
					background-repeat: no-repeat;
					background-size: contain;
					background-image: url("app/assets/img/edit.png");
					background-color: transparent;
				}

				.delete {
					width: 1.3rem;
					height: 1.3rem;
					margin-left: 0.5rem;
					background-repeat: no-repeat;
					background-size: contain;
					background-image: url("app/assets/img/delete.png");
					background-color: transparent;
				}
			}
		}

		.transactionData span {
			box-sizing: border-box;
			min-width: 10vw;
		}

		.transactionTitle {
			padding-right: 15vw;

			span {
				display: flex;
                align-items: center;
                
				i {
					width: 18px;
                    height: 18px;
                    margin-left: 10px;
					background-image: url("app/assets/img/sort.png");
					background-size: cover;
                    display: inline-block;
                    cursor: pointer;
                }
                
                i:active {
                    transform: scale(0.85);
                }
			}
		}

		.transactionData {
			border-top: 1px solid $titlesColor;
		}
	}
}
