// colors 
$bodyBgcolor: #f4f7fa;
$mainActiveElemtsAndTextColor: #12c48b;
$blocksBgColor: #fff;
$titlesColor: #7b93a4;
$closeDeclineCheck: #ea2222;


//font 
$navMenuTitle: 500 1.3rem 'Gotham Pro';
$inputsFont: 400 1rem 'Gotham Pro';
$buttonsFont: 400 2rem 'Gotham Pro';

//borders
$bordersRadius: 5px;

//shadows 
$boxShadow: 0px 0px 20px 5px #e9ecec;